html, body{
	/*width:100%;
	height:100%;*/
	background-color:#B3D8DB;
	text-align:center;
	margin:auto;
}
h2{
	display:inline-block;
	color:white;
	text-align:center;
	width:400px;
	background-color:grey;
	border-bottom:solid 1px white;
}
.formulaire{
	width:400px;
	background-color:grey;
}
div#conteneur{
	text-align:center;
	margin-left:20%;


}
div.saisie{
	height:10px;
	width:330px;
	margin:10px;
	padding:5px;
	text-align:center;
}
div.validation{
	padding:5px;
	text-align:center;
}

label{
	display:inline-block;
	width:100px;
	color:white;
}
label.asterix{
	width:10px;

}
label#obligatoire{
	width:350px;
	text-align:center;
}
input{
	width:180px;
}

input.bouton{
	width:80px;
	height:30px;
}
legend{
	color:white;
}

